button{
    animation: glow 2s infinite;
}

@keyframes glow{

0%{
box-shadow:0 0 10px #ff4d88;
}

50%{
box-shadow:0 0 30px #ff4d88,
0 0 60px #ff4d88;
}

100%{
box-shadow:0 0 10px #ff4d88;
}

}

.stars{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
    background-size:80px 80px,120px 120px;
    background-position:0 0,40px 40px;
    animation: twinkle 4s infinite alternate;
    z-index:-1;
}

@keyframes twinkle{
    from{
        opacity:0.4;
    }
    to{
        opacity:1;
    }
}
#musicBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    background:#ff4d88;
    color:white;
    font-size:24px;
    cursor:pointer;
    z-index:1000;
    box-shadow:0 0 20px #ff4d88;
}
